.backgroundshow{
  position: relative;
}

.place-background {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}

.cardinfo{
  background-color: #EBE3D5;
  width: 100%;
  height: 500px;
  top: 250px;
  border-radius: 30px, 30px, 0px, 0px;
  position: relative;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

  .title{
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
  }
    .nameplace{
    font-family: Playfair Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #1C1C1C;
    margin-left: 20px;
    margin-top: 15px;
    padding-top: 10px;
    }

    .locationplace{
      font-family: 'Public Sans', sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 16px;
      margin-left: 20px;
      margin-top: 5px;
      color: #1C1C1C;
    }
    .descriptionplace{
      font-family: 'Public Sans', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      margin-left: 20px;
      margin-top: 15px;
      text-align: justify;
      margin-right: 20px;
      margin-bottom: 15px;
      color: #1C1C1C;
    }

    .rateplace{
      color:#1C1C1C;
      right: 10px;
      top: 5px;
      width: 40px;
      font-size: 17px;
      padding-right: 22px;
      padding-top: 3px;
      display: flex;
      margin-left: 20px;

      .star{
        margin-top: 3px;
        margin-left: 2px;
        left: 323px;
        right: 16px;
        width: 17px;
        height: 17px;

      }
    }
    .fav{
      width: 35px;
      height: 35px;
      display: flex;
      margin-right: 20px;
      margin-top: -17px;
    }



        // .card-place-rate{
        //   color: var(--White, #FFF);
        //   position: absolute;
        //   right: 10px;
        //   top: 5px;
        //   width: 40px;
        //   font-size: 17px;

       //   padding-right: 22px;
        //   padding-top: 3px;
        // }
    .resa{
      font-family: 'Public Sans', sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 16px;
      margin-left: 20px;
      color: #1C1C1C;
      width: 40px;
      line-height: 16px;
      text-decoration: underline;
      margin-top: -17px;
    }

    .btnmenu{ //For the Apply, See Menu, My review page;
      background-color: #343633;
      width: 118px;
      height: 41px;
      border-radius: 50px;
      border: none;
      color: white;
      margin-left: 15px;
      font-size: 15px;
      margin-top: -17px;


    }

    .alignbutton{
      position: relative;
      float: right;
      margin-right: 15px;
    }

    .btnmenureviews{
      background-color: #EBE3D5;
      border: none;
      color: #1C1C1C;
      margin-left: 15px;
      font-size: 17px;
      margin-top: 10px;
      text-decoration:underline;
      font-family: Playfair Display;
      font-weight: 700;


    }

    .no_underline {
      text-decoration: none
    }
}



.fond{

  background-color: rgba(52, 54, 51,0.5);
      width: 100%;
      height: 100%;

}

.comments{
padding-left: 10px;
width: 90%;
height: 100px;
background-color: #F3EEEA;
margin: auto;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-bottom: 10px;
border-radius: 10px;

  .username{
    font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 5px;
  padding-top: 5px;
  }
  .commentaire{
    width: 90%;
    height: 60px;
    background-color: #fffbf7;
    border-radius: 10px;
    margin: auto;
    color: #1C1C1C;
    display: flex;

    .content{
      width: 92%;
      font-family: 'Public Sans', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-top: 5px;
      padding-left: 10px;
      color: #565755;
    }

    .opinion{
      font-family: 'Public Sans', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-top: 7px;
      padding-left: 10px;
      color: #565755;
      position: relative;
      float: right;
      margin-right: 10px;
      display: flex;
    }

    .starsizemodal{
      width: 12px;
      height: 14px;
      position: relative;
      float: right;
      padding-top: 2px;
    }
  }

}
