// Import page-specific CSS files here.
body{
  background-color: #EBE3D5;
}
.headerbloc{
  position: sticky;
    // background-color: #EBE3D5;
    display: block;
    top: 0;
    z-index: 100;
}

h1{
  color:#1C1C1C;
font-family: Playfair Display;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 15px;
// margin-top: 7px;
}

.btn2{ // For the map and list btn
  background-color: #343633;
  color:white;
  font-family:'Public Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: auto;
  width: 80px;
  height: 36px;
  justify-content: center;
  flex-shrink: 0;
  border: none;
  text-align: center;
  margin-top: 3px;
  word-wrap: break-word;
  padding-top: 7px;
  margin-bottom: 5px;

  &.btn2-left{
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;

  }

  &.btn2-right{
    border-top-right-radius:30px ;
    border-bottom-right-radius:30px ;

  }

  &.active{
    text-decoration: underline;
    background-color: #343633 !important;
    color: white !important;
  }
}

.filtre{
  width: 35px;
  display: flex;
  margin-right: 20px;
  // margin-left: 320px;
  }


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.Card-place{
  margin: auto;
  // margin-top: -5px;
  margin-bottom: 10px;
  display: flex;
  width: 95%;
  height: 140px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  background-position: center;
  background-size: cover;




  .card-info{
    background-color: rgba(52, 54, 51,0.5);
      width: 333px;
  height: 140px;
      border-radius: 10px;
    .card-place-name{
      margin: auto;
      word-wrap: break-word;
      color: var(--White, #FFF);
      font-family: Playfair Display;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      align-items: center;
      padding-top: 55px;
    }

    .Rating{
      text-align: end;
    }
    .card-place-rate{
      color: var(--White, #FFF);
      position: absolute;
      right: 10px;
      top: 5px;
      width: 40px;
      font-size: 17px;
      padding-right: 22px;
      padding-top: 3px;
    }

    .logo{
      position: absolute;
      right: 10px;
      top: -7px;
      width: 17px;
      height: 17px;

    }



  }

}
