.boxstyling{
  padding: 10px 10px 0px 10px;

  .placenamemap{
    font-family: Playfair Display;
    font-size: 16px;
    font-style: bold;
    font-weight: 800;
    line-height: normal;
    color: #343633;
  }

  .placelocationmap{
    font-family: Playfair Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0px;
    color: #343633
  }
}

.mapboxgl-popup-content{
 border-radius: 15px;
 background-color: #ebe3d5;
}
