
<div class = "header">
  <div class = "container d-flex justify-content-between">
    <%# <div class ="row"> %>
      <%# <div class = "col-6"> %>
      <div class= "return_btn">
        <%# <input type="button" value="" onclick="history.back()"> %>
        <%=image_submit_tag "returnbtn.svg", name: "", onclick:"history.back()" %>
      </div>
      <%# </div> %>
      <%# <div class = "col-6"> %>
      <div class= "empty-image"></div>
        <%= image_tag "logo.png", class:"logo"%>
      <%# </div> %>
        <div class= "empty-image"></div>
          <a href="<%= profile_path %>">
            <div class="user-pro">
              <%= image_tag "leane.jpeg", class:"image"%>
            </div>
          </a>
      <%# </div> %>
    <%# </div> %>
  </div>
</div>
