<div class = "header">
  <div class = "container d-flex justify-content-between">



    <div class= "empty-image"></div>
    <%= image_tag "logo.png", class:"logo"%>
    <div class= "empty-image"></div>
    <%# </div> %>

  </div>
</div>
