profile page

<div>
<%= link_to "Reviews", reviews_path %>
</div>

<div>
  <h2>
   My Upcoming reservation:
  </h2>
  <div>
  <%= @bookings.find { |booking| booking.date > current date && booking.time > current time } %>
  </div>
</div>



<div>
