profile page

<div>
<%= link_to "Reviews", reviews_path %>
</div>

<div>
  <h2>
   My Upcoming reservation:
  </h2>
  <div>
    <div>
      <h1><%= @upcoming_booking.place.name %></h1>
    </div>
    <%= @upcoming_booking.time %>
  </div>
</div>



<div>
