// .header{ It's only for the page who has the logo and the profile picture
   .logo{
    margin-top: 20px;
    width: 100px;
    height: 32px;
    flex-shrink: 0;
   }
   .empty-image{
    width: 50px;
   }
   .image{
    margin-top: 10px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 1px solid #343633
   }
