// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

$navbar-height: 67px;

.navigation-bar{
  margin: auto;
  margin-bottom: 5px;
  width: 351px;
  height: $navbar-height;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--Color-5, #343633);
  position: fixed;
  bottom: 0;
  margin-left: 12px;

  .icon{
    width: 34px;
    height: 33px;
    flex-shrink: 0;
    justify-content: center;
    margin-top: 15px;

  }

}
