<!-- This page is the header of the index page. This header will be used for
some pages. We have at least two different headers.-->

<!-- In this page there is the logo of WIW and a rounded profile page with a picture of you as a user.
This header has the same colour as the overall app background-->

<div class = "header">
  <div class = "container d-flex justify-content-between">
    <%# <div class ="row"> %>
      <%# <div class = "col-6"> %>
      <div class= "empty-image"></div>
    <%= image_tag "logo.png", class:"logo"%>
    <a href="<%= profile_path %>">
      <div class="user-pro">
            <%= image_tag "leane.jpeg", class:"image"%>
      </div>
    </a>

      <%# </div> %>
    <%# </div> %>
  </div>
</div>
