<div class = "header">
  <div class = "container d-flex justify-content-between">
    <%# <div class ="row"> %>
      <%# <div class = "col-6"> %>
      <div class= "return_btn">
        <%# <input type="button" value="" onclick="history.back()"> %>
        <%=image_submit_tag "returnbtn.svg", name: "", onclick:"history.back()" %>
      </div>
      <div class= "empty-image"></div>
    <%= image_tag "leane.jpeg", class:"image"%>

      <%# </div> %>
    <%# </div> %>
  </div>
</div>
