<!-- This the Navbar for the Homepage-->

<nav class="navigation-bar">
    <a class="navbar-brand" href="/">
      <div class="coffee">
            <img src="coffee-logo.png" class="img-fluid">
      </div>
    </a>
    <a class="navbar-brand" href="/">
      <div class="calendar">
            <img src="calendar.png" class="img-fluid">
      </div>
    </a>
    <a class="navbar-brand" href="/">
      <div class="favs">
            <img src="favorite.png" class="img-fluid">
      </div>
    </a>
    <a class="navbar-brand" href="/">
      <div class="user-pro">
            <img src="user-profile.png" class="img-fluid">
      </div>
    </a>
</nav>
